.reminder-modal-frame {
    display: block!important;
    z-index: 9999!important;
    box-shadow: 0 5px 70px rgba(0, 0, 0, 0.29);
    border-radius: 5px!important;
    position: fixed!important;
    background: #FFFFFF;
    overflow: visible!important;
    top: 167px!important;
    height: 464px!important;
    width: 331px!important;
    right: 166px!important;
    border: 0!important;
}