[submodule "gbajs"]
	path = gbajs
	url = https://github.com/theclashman2/GBA-Emulator

[submodule "cut the rope"]
	path = cut the rope
	url = https://github.com/theclashman2/GBA-Emulator

[submodule "hex gl"]
	path = hex gl
	url = https://github.com/BKcore/HexGL

