body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

logo {
    line-height: 1;
}

.logo {
    height: 30px;
    width: 30px;
    margin: 20px;
    margin-right: 5px;
}

.logo-name {
    display: inline;
    position: absolute;
    margin: 19px;
    margin-left: 0;
}

.options {
    position: absolute;
    margin-left: 200px;
}

.container {
    max-width: 1200px;
    display: inline;
}

header, nav, footer {
    background-color: #222222;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    height: 8%;
}

header h1, nav a, footer p {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust as needed */
    position: sticky;
    opacity: 0.9;
    top: 0;
    z-index: 101;
    padding: 0;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 102;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.icon {
    margin-bottom: 50px;
}

.icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.icon img:hover {
    opacity: 1;
}

.icon i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.icon i:hover {
    opacity: 1;
}

.searchbutton:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	color: grey;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	rotate: -45deg;
}

.search-container {
    position: absolute;
    top: 50%;
    right: 150px; /* Adjust the distance from the right as needed */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.searchbutton {
    font-size: 22px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-right: 5px; /* Add margin to separate button and input */
}

.search {
    background-color: #3a3a3a;
    color: white;
    outline: none;
    border: none;
    padding: 10px; /* Adjust the padding to make the input bigger */
    height: 100%;
    transition-duration: 0.4s;
    opacity: 0;
    overflow: hidden;
    margin-right: 10px;
    width: 0;
}

.search.active {
    width: 400px; /* Adjust the width of the input when it's active */
    opacity: 1;
}

.game {
    position: absolute;
    top: 80px;
    width: 50%;
    left: calc(25% - 35px);
    height: auto;
}

#game-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: solid 1px #333;
}

#game-iframe {
    width: 100%;
    height: calc(100% - 60px);
    border: none;
}

#game-iframe[src]:not([src=""]) {
    background-color: white;
}

#game-image {
    width: 200px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: calc(50% - 100px);
    z-index: 1;
}

#options-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#play-btn {
    background-color: #4CAF50;
    height: 40px;
    width: 80px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 280px;
    left: calc(50% - 40px);
}

#fullscreen-btn, #new-page-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.description{
    text-wrap: wrap;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: initial;
    hyphens: auto;
    margin-bottom: 200px;
}

.side1, .side2 {
    position: absolute;
    top: 80px;
    width: calc(25% - 95px);
    height: 400px; /* Match the height of the game */
    background-color: white; /* Optional for visualization */
}

.side1 {
    left: 28px; /* Place on the left side */
}

.side2 {
    right: 94px; /* Place on the right side */
    width: calc(25% - 90px);
}

/* For screens smaller than 768px (typical for iPhones in portrait mode) */
@media screen and (max-width: 767px) {
    /* Adjust styles here */
    body {
        font-size: 5px;
    }
    
    header {
        /* Adjust header styles for iPhones here */
        padding: 10px; /* Example adjustment: reduce padding */
    }
    
    nav {
        /* Example adjustment: reduce font size for navigation links */
        font-size: 5px;
    }

    .sidebar {
        width: 60px;
    }
}